Repository Yuliya-Karuk/RSS-React2024Q3: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run stylelint, npm run lint

refactor: change tests for nextjs
  .eslintignore
  components/CharacterItem/CharacterItem.test.tsx
  components/CharacterList/CharacterList.test.tsx
  components/Details/Details.est.tsx
  components/Details/Details.tsx
  components/FavoriteButton/FavoriteButton.tsx
  components/Favorites/Favorites.test.tsx
  components/MainLayout/MainLayout.test.tsx
  components/NotFoundComponent/NotFoundComponent.test.tsx
  components/NotFoundComponent/NotFoundComponent.tsx
  components/NotFoundComponent/notFoundComponent.module.scss
  components/Pagination/Pagination.test.tsx
  components/Search/Search.test.tsx
  components/ThemeSwitcher/ThemeSwitcher.test.tsx
  package-lock.json
  package.json
  pages/404.tsx
  pages/_app.tsx
  src/testSetup/render-router.tsx
  src/tests/NotFound/NotFound.test.tsx
  testSetup/msw/handlers.ts
  testSetup/msw/mocks.ts
  testSetup/msw/server.ts
  testSetup/render-router.tsx
  testSetup/setupTests.ts
  tsconfig.json
  vitest.config.ts
Due: npm run format, npm run stylelint, npm run lint

refactor: refactor Details test and add some minor tests
  components/Details/Details.test.tsx
  components/Details/Details.tsx
  components/Loader/Loader.test.tsx
  utils/utils.test.ts
  vitest.config.ts
Due: npm run format, npm run lint

feat: add some test for coverage; fix bug with svg icon
  .eslintignore
  .eslintrc.json
  components/CharacterItem/CharacterItem.test.tsx
  components/DetailsPlanet/DetailsPlanet.test.tsx
  components/ErrorBoundary/ErrorBoundary.test.tsx
  components/FavoriteButton/FavoriteButton.tsx
  testSetup/msw/mocks.ts
  testSetup/setupTests.ts
  testSetup/svgMock.js
  utils/utils.test.ts
  vitest.config.ts
Due: npm run format, npm run lint

feat: change img on Image from next
  components/CharacterItem/CharacterItem.module.scss
  components/CharacterItem/CharacterItem.tsx
  components/Details/Details.module.scss
  components/Details/Details.tsx
  components/DetailsFilms/DetailsFilms.tsx
  components/ErrorBoundary/ErrorBoundary.tsx
  components/FavoritesList/FavoritesItem.module.scss
  components/FavoritesList/FavoritesItem.tsx
  components/Header/Header.tsx
  components/Loader/Loader.tsx
  components/NotFoundComponent/NotFoundComponent.tsx
  hooks/useDetails.tsx
  next.config.js
  package-lock.json
  pages/index.tsx
  store/filmsSlice.ts
  store/store.ts
  testSetup/render-router.tsx
Due: npm run format, npm run stylelint, npm run lint

feat: start modify page
  app/StoreProvider.tsx
  app/layout.tsx
  app/loading.tsx
  app/not-found.tsx
  app/page.tsx
  components/CharacterItem/CharacterItem.tsx
  components/CharacterList/CharacterList.tsx
  components/ErrorButton/ErrorButton.tsx
  components/FavoriteButton/FavoriteButton.tsx
  components/MainLayout/MainLayout.tsx
  components/Search/Search.tsx
  components/ThemeContainer/ThemeContainer.module.scss
  components/ThemeContainer/ThemeContainer.tsx
  components/ThemeSwitcher/ThemeSwitcher.tsx
  contexts/themeProvider.tsx
  hooks/useHandleDetails.tsx
  hooks/useSearchForm.ts
  hooks/useStoreHooks.tsx
  next-env.d.ts
  pages/_app.tsx
  pages/index.tsx
  pages/page.tsx
  store/store.ts
  tsconfig.json
Due: npm run format, npm run stylelint, npm run lint

feat: modify search form
  app/page.tsx
  components/Pagination/Pagination.module.scss
  components/Pagination/Pagination.tsx
  components/PaginationButton/PaginationButton.module.scss
  components/PaginationButton/PaginationButton.tsx
  components/ThemeContainer/ThemeContainer.tsx
  hooks/useSearchForm.ts
  tsconfig.json
Due: npm run format, npm run stylelint, npm run lint

feat: modify details and search
  app/layout.tsx
  app/page.tsx
  components/CharacterItem/CharacterItem.tsx
  components/CharacterList/CharacterList.tsx
  components/CloseDetailsButton/CloseDetailsButton.module.scss
  components/CloseDetailsButton/CloseDetailsButton.tsx
  components/Details/Details.tsx
  components/DetailsContainer/DetailsContent.module.scss
  components/DetailsContainer/DetailsContent.tsx
  components/DetailsFilms/DetailsFilms.tsx
  components/DetailsInfo/DetailsInfo.tsx
  components/DetailsPlanet/DetailsPlanet.tsx
  components/FavoriteButton/FavoriteButton.tsx
  components/Favorites/Favorites.tsx
  components/PlanetImg/PlanetImg.module.scss
  components/PlanetImg/PlanetImg.tsx
  contexts/filmsProvaider.tsx
  hooks/useDetails.tsx
  hooks/useHandleDetails.tsx
  hooks/useSearchParams.tsx
Due: npm run format, npm run stylelint, npm run lint

fix: fix films and search query
  hooks/useDetails.tsx
  hooks/useSearchForm.ts
Due: npm run format, npm run lint

feat: try to add loader
  app/layout.tsx
  app/page.tsx
  app/pageHome.tsx
  app/pageWithLoader.tsx
  hooks/useSearchForm.ts
Due: npm run format, npm run lint

feat: add second loader for details
  app/(details)/detailsWithLoader.tsx
  app/(home)/pageHome.tsx
  app/(home)/pageWithLoader.tsx
  app/layout.tsx
  app/page.tsx
  components/DetailsFilms/DetailsFilms.tsx
  contexts/filmsProvider.tsx
  hooks/useDetails.tsx
  next-env.d.ts
  pages/_app.tsx
  pages/page.tsx
  store/api/swapiApi.ts
  store/selectors/index.ts
  store/store.ts
  styles/_base.scss
  testSetup/render-router.tsx
Due: npm run format, npm run stylelint, npm run lint

refactor: fix tests for nextjs app router
  app/(home)/home.test.tsx
  app/(home)/pageHome.tsx
  app/global-error.tsx
  app/loading.tsx
  components/CharacterItem/CharacterItem.test.tsx
  components/CharacterList/CharacterList.test.tsx
  components/Details/Details.test.tsx
  components/DetailsContainer/DetailsContent.module.scss
  components/DetailsContainer/DetailsContent.tsx
  components/ErrorBoundary/ErrorBoundary.test.tsx
  components/ErrorBoundary/ErrorBoundary.tsx
  components/ErrorButton/ErrorButton.tsx
  components/ErrorComponent/ErrorComponent.module.scss
  components/ErrorComponent/ErrorComponent.tsx
  components/Favorites/Favorites.test.tsx
  components/Favorites/Favorites.tsx
  components/Footer/Footer.test.tsx
  components/Header/Header.test.tsx
  components/Loader/Loader.test.tsx
  components/MainLayout/MainLayout.test.tsx
  components/MainLayout/MainLayout.tsx
  components/NotFoundComponent/NotFoundComponent.test.tsx
  components/Pagination/Pagination.test.tsx
  components/Pagination/Pagination.tsx
  components/PaginationButton/PaginationButton.tsx
  components/Search/Search.test.tsx
  styles/home.module.scss
  styles/loader.module.scss
  testSetup/render-router.tsx
  testSetup/setupTests.ts
  tsconfig.json
  vitest.config.ts
Due: npm run format, npm run stylelint, npm run lint

refactor: remove filmsProvider
  app/layout.tsx
  components/Details/Details.tsx
  components/DetailsFilms/DetailsFilms.tsx
  components/Loader/Loader.module.scss
  contexts/filmsProvider.tsx
  next-env.d.ts
  testSetup/render-router.tsx
Due: npm run format, npm run stylelint, npm run lint

refactor: remove commented lines
  next-env.d.ts
Due: npm run format, npm run lint

feat: change characterList and some components to correspon remix
  app/components/CharacterList/CharacterList.module.css
  app/components/CharacterList/CharacterList.tsx
  app/components/FavoriteButton/FavoriteButton.module.css
  app/components/FavoriteButton/FavoriteButton.module.scss
  app/components/FavoriteButton/FavoriteButton.tsx
  app/components/Footer/Footer.module.css
  app/components/Footer/Footer.module.scss
  app/components/Header/Header.module.css
  app/components/Header/Header.tsx
  app/components/Search/Search.module.css
  app/components/Search/Search.module.scss
  app/components/ThemeSwitcher/ThemeSwitcher.module.scss
  app/hooks/useLocalStorage.tsx
  app/root.tsx
  app/routes/index.module.scss
  app/store/api/swapiApi.ts
  app/store/charactersSlice.ts
  app/store/selectors/index.ts
  app/store/store.ts
Due: npm run format, npm run stylelint, npm run lint

refactor: modify search for remix
  app/components/Pagination/Pagination.module.scss
  app/components/PaginationButton/PaginationButton.module.scss
  app/components/Search/Search.tsx
Due: npm run format, npm run stylelint, npm run lint

refactor: modify details and favorites
  .eslintrc.cjs
  app/assets/images/default-planet.jpg
  app/components/CloseDetailsButton/CloseDetailsButton.module.scss
  app/components/CloseDetailsButton/CloseDetailsButton.tsx
  app/components/Details/Details.module.css
  app/components/Details/Details.module.scss
  app/components/Details/Details.tsx
  app/components/DetailsFilms/DetailsFilms.module.css
  app/components/DetailsFilms/DetailsFilms.module.scss
  app/components/DetailsInfo/DetailsInfo.module.css
  app/components/DetailsInfo/DetailsInfo.module.scss
  app/components/DetailsPlanet/DetailsPlanet.module.css
  app/components/DetailsPlanet/DetailsPlanet.module.scss
  app/components/DetailsPlanet/DetailsPlanet.tsx
  app/components/Favorites/Favorites.module.css
  app/components/Favorites/Favorites.module.scss
  app/components/Favorites/Favorites.tsx
  app/components/FavoritesItem/FavoritesItem.module.scss
  app/components/FavoritesItem/FavoritesItem.tsx
  app/components/FavoritesList/FavoritesItem.module.css
  app/components/Pagination/Pagination.module.scss
  app/components/PlanetImg/PlanetImg.module.scss
  app/components/PlanetImg/PlanetImg.tsx
  app/hooks/useSearchForm.ts
  app/root.tsx
  app/router/router.tsx
  app/router/routes.ts
  app/routes/_index.tsx
  app/styles/_mixins.scss
  package-lock.json
  package.json
Due: npm run format, npm run stylelint, npm run lint

refactor: run linters
  app/components/DetailsFilms/DetailsFilms.module.scss
  app/components/DetailsInfo/DetailsInfo.module.scss
  app/components/DetailsPlanet/DetailsPlanet.module.scss
  app/components/Favorites/Favorites.module.scss
  app/components/FavoritesItem/FavoritesItem.module.scss
  app/components/Header/Header.tsx
  app/components/PaginationButton/PaginationButton.tsx
  app/entry.client.tsx
  app/entry.server.tsx
  app/hooks/useSearchForm.ts
  app/utils/utils.ts
  app/vite-env.d.ts
Due: npm run format, npm run stylelint, npm run lint

refactor: modify error boundary
  app/components/ErrorBoundary/ErrorBoundary.module.css
  app/components/ErrorBoundary/ErrorBoundary.tsx
  app/components/ErrorBoundary/ErrorComponent.module.scss
  app/components/ErrorBoundary/ErrorComponent.tsx
  app/components/ErrorButton/ErrorButton.module.css
  app/components/ErrorButton/ErrorButton.module.scss
  app/components/ErrorButton/ErrorButton.tsx
  app/root.tsx
Due: npm run format, npm run stylelint, npm run lint

fix: fix error boundary
  .gitignore
  app/components/ErrorBoundary/ErrorComponent.module.scss
  app/components/ErrorButton/ErrorButton.module.scss
  app/components/ErrorButton/ErrorButton.tsx
  app/root.tsx
  app/routes/_index.tsx
Due: npm run format, npm run stylelint, npm run lint

feat: add loader
  .eslintrc.cjs
  .lintstagedrc.json
  app/assets/favicon.ico
  app/components/LeftContainer/LeftContainer.module.scss
  app/components/LeftContainer/LeftContainer.tsx
  app/components/Loader/Loader.module.css
  app/components/MainLayout/MainLayout.tsx
  app/components/NotFound/notFound.module.scss
  app/components/NotFound/notFound.tsx
  app/components/PaginationButton/PaginationButton.tsx
  app/components/ThemeContainer/ThemeContainer.module.scss
  app/components/ThemeContainer/ThemeContainer.tsx
  app/entry.server.tsx
  app/hooks/useDetails.tsx
  app/hooks/useHandleDetails.tsx
  app/hooks/useSearchForm.ts
  app/hooks/useSearchParams.tsx
  app/pages/home/home.module.css
  app/pages/home/home.module.scss
  app/pages/home/home.tsx
  app/pages/notFound/notFound.module.css
  app/root.tsx
  app/routes/_index.tsx
  app/styles/home.module.scss
  app/tests/NotFound/NotFound.test.tsx
  public/favicon.ico
  vite.config.ts
Due: npm run format, npm run stylelint, npm run lint

fix: fix size of 404 page image
  components/ErrorBoundary/ErrorBoundary.module.scss
  package-lock.json
Due: npm run format, npm run stylelint

fix: fix Error Button Component
  components/ErrorButton/ErrorButton.tsx
  next.config.js
Due: npm run format, npm run lint

refactor: modify tests
  app/components/CharacterItem/CharacterItem.test.tsx
  app/components/CharacterList/CharacterList.test.tsx
  app/components/Details/Details.test.tsx
  app/components/Favorites/Favorites.test.tsx
  app/components/Footer/Footer.test.tsx
  app/components/Header/Header.test.tsx
  app/components/Loader/Loader.test.tsx
  app/components/NotFound/NotFound.test.tsx
  app/components/Pagination/Pagination.test.tsx
  app/components/PlanetImg/PlanetImg.tsx
  app/components/Search/Search.test.tsx
  app/components/ThemeSwitcher/ThemeSwitcher.test.tsx
  app/testSetup/msw/mocks.ts
  app/testSetup/render-router.tsx
  app/tests/CharacterItem/CharacterItem.test.tsx
  app/tests/MainLayout/MainLayout.test.tsx
  app/tests/NotFound/NotFound.test.tsx
  app/tests/Pagination/Pagination.test.tsx
  app/utils/utils.test.ts
  app/utils/utils.ts
  package-lock.json
  package.json
  tsconfig.json
  vitest.config.ts
Due: npm run format, npm run lint

fix: fix loader
  .vscode/settings.json
  app/(home)/home.test.tsx
  app/(home)/home.tsx
  app/(home)/homeWithLoader.tsx
  app/(home)/pageWithLoader.tsx
  app/layout.tsx
  app/page.tsx
  components/Pagination/Pagination.test.tsx
  components/PaginationButton/PaginationButton.tsx
  hooks/useSearchForm.ts
  next.config.js
Due: npm run format, npm run lint

refactor: change folders structure
  .eslintrc.json
  app/layout.tsx
  app/page.tsx
  components/DetailsWithLoader/DetailsWithLoader.tsx
  components/ErrorButton/ErrorButton.module.scss
  components/ErrorButton/ErrorButton.tsx
  components/Home/Home.module.scss
  components/Home/Home.test.tsx
  components/Home/Home.tsx
  components/HomeWithLoader/HomeWithLoader.module.scss
  components/HomeWithLoader/HomeWithLoader.tsx
  components/Loader/Loader.module.scss
  components/PlanetImg/PlanetImg.tsx
  next-env.d.ts
  package-lock.json
  package.json
Due: npm run format, npm run stylelint, npm run lint

feat: add lint for next and fix tests
  .eslintignore
  .eslintrc.json
  components/CharacterItem/CharacterItem.module.scss
  components/CharacterItem/CharacterItem.tsx
  components/Details/Details.module.scss
  components/Details/Details.tsx
  components/DetailsFilms/DetailsFilms.tsx
  components/DetailsPlanet/DetailsPlanet.tsx
  components/ErrorBoundary/ErrorBoundary.test.tsx
  components/ErrorBoundary/ErrorBoundary.tsx
  components/FavoritesList/FavoritesItem.module.scss
  components/FavoritesList/FavoritesItem.tsx
  components/Header/Header.tsx
  components/Loader/Loader.test.tsx
  components/Loader/Loader.tsx
  components/NotFoundComponent/NotFoundComponent.tsx
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
Due: npm run format, npm run stylelint, npm run lint

fix: fix main loader
  app/page.module.scss
  app/page.tsx
  components/HomeWithLoader/HomeWithLoader.tsx
Due: npm run format, npm run stylelint, npm run lint

fix: fix query params for empty LS
  hooks/useSearchForm.ts
Due: npm run format, npm run lint

fix: fix query params for empty LS
  app/hooks/useSearchForm.ts
Due: npm run format, npm run lint

feat: configure basic setup
  .editorconfig
  .gitattributes
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc.json
  .stylelintignore
  .stylelintrc.json
  .vscode/settings.json
  eslint.config.js
  index.html
  package-lock.json
  package.json
  public/vite.svg
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/index.css
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: npm run format, npm run stylelint, npm run lint

feat: add router and header
  eslint.config.js
  src/App.css
  src/App.tsx
  src/assets/bg.png
  src/assets/logo.png
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/MainLayout/MainLayout.module.scss
  src/components/MainLayout/MainLayout.tsx
  src/index.css
  src/main.tsx
  src/pages/controlledForm/controlledForm.tsx
  src/pages/home/home.tsx
  src/pages/uncontrolledForm/uncontrolledForm.tsx
  src/router/router.tsx
  src/router/routes.ts
  src/styles/_base.scss
  src/styles/_constants.scss
  src/styles/_fonts.scss
  src/styles/_mixins.scss
  src/styles/_normalize.scss
  src/styles/_placeholders.scss
  src/styles/_reset.scss
  src/styles/index.scss
  vite.config.ts
Due: npm run format, npm run stylelint, npm run lint

feat: add 7 filds for Controlled form
  .vscode/settings.json
  package-lock.json
  package.json
  src/assets/checked.svg
  src/assets/eye-off.svg
  src/assets/eye-show.svg
  src/components/Header/Header.module.scss
  src/components/Input/Input.module.scss
  src/components/Input/Input.tsx
  src/components/MainLayout/MainLayout.tsx
  src/pages/controlledForm/controlledForm.module.scss
  src/pages/controlledForm/controlledForm.tsx
  src/styles/_base.scss
Due: npm run format, npm run stylelint, npm run lint

feat: add country input
  src/components/CountryInput/CountryInput.module.scss
  src/components/CountryInput/CountryInput.tsx
  src/components/Input/Input.tsx
  src/components/SuggestionList/SuggestionList.module.scss
  src/components/SuggestionList/SuggestionList.tsx
  src/main.tsx
  src/pages/controlledForm/controlledForm.tsx
  src/store/countriesSlice.ts
  src/store/selectors.ts
  src/store/store.ts
  src/store/storeHooks.tsx
  src/utils/countries.ts
Due: npm run format, npm run stylelint, npm run lint

feat: add file input
  src/assets/github.svg
  src/assets/picture.svg
  src/components/FileInput/FileInput.module.scss
  src/components/FileInput/FileInput.tsx
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Input/Input.module.scss
  src/components/Input/Input.tsx
  src/components/MainLayout/MainLayout.tsx
  src/components/SuggestionList/SuggestionList.module.scss
  src/pages/controlledForm/controlledForm.module.scss
  src/pages/controlledForm/controlledForm.tsx
  src/styles/_constants.scss
Due: npm run format, npm run stylelint, npm run lint

feat: add gender input and strength for password
  .vscode/settings.json
  src/components/CountryInput/CountryInput.tsx
  src/components/FileInput/FileInput.tsx
  src/components/GenderFieldset/GenderFieldset.module.scss
  src/components/GenderFieldset/GenderFieldset.tsx
  src/components/Input/Input.module.scss
  src/components/Input/Input.tsx
  src/components/PasswordInput/PasswordInput.module.scss
  src/components/PasswordInput/PasswordInput.tsx
  src/models/types.ts
  src/pages/controlledForm/controlledForm.tsx
  src/utils/consts.ts
  src/utils/utils.ts
  src/utils/validationSchema.ts
Due: npm run format, npm run stylelint, npm run lint

feat: add saving form data to store
  src/components/GenderFieldset/GenderFieldset.module.scss
  src/hooks/useControlledForm.tsx
  src/pages/controlledForm/controlledForm.tsx
  src/store/slices/countriesSlice.ts
  src/store/slices/formsSlice.ts
  src/store/store.ts
  src/utils/validationSchema.ts
Due: npm run format, npm run stylelint, npm run lint

Path conditions:
  npm run format: any of: ./**/*
  npm run stylelint: any of: ./**/*.{css,scss}
  npm run lint: any of: ./**/*.{tsx,jsx,ts}
