Repository Yuliya-Karuk/RSS-React2024Q3: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run stylelint, npm run lint

feat: change all needed components to functional
  .gitattributes
  .vscode/settings.json
  package-lock.json
  package.json
  src/App.tsx
  src/assets/github.svg
  src/components/CharacterItem/CharacterItem.module.scss
  src/components/CharacterItem/CharacterItem.tsx
  src/components/CharacterList/CharacterList.module.scss
  src/components/CharacterList/CharacterList.tsx
  src/components/ErrorButton/ErrorButton.module.scss
  src/components/ErrorButton/ErrorButton.tsx
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/Loader/Loader.tsx
  src/components/MainLayout/MainLayout.tsx
  src/components/Search/Search.module.scss
  src/components/Search/Search.tsx
  src/contexts/dataProvider.tsx
  src/main.tsx
  src/models/index.ts
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
  src/pages/notFound/notFound.module.scss
  src/pages/notFound/notFound.tsx
  src/router/router.tsx
  src/router/routes.ts
  src/services/api.ts
  src/styles/_base.scss
  src/styles/_placeholders.scss
  tsconfig.app.json
  vite.config.ts
Due: npm run format, npm run stylelint, npm run lint

feat: add pagination and change useData
  .vscode/settings.json
  package-lock.json
  package.json
  src/App.module.scss
  src/App.tsx
  src/assets/last.svg
  src/assets/next.svg
  src/components/CharacterItem/CharacterItem.tsx
  src/components/CharacterList/CharacterList.tsx
  src/components/Details/Details.tsx
  src/components/MainLayout/MainLayout.tsx
  src/components/Pagination/Pagination.module.scss
  src/components/Pagination/Pagination.tsx
  src/components/Search/Search.tsx
  src/contexts/dataProvider.tsx
  src/contexts/toastProvider.tsx
  src/hooks/useSearchQuery.tsx
  src/main.tsx
  src/pages/home/home.tsx
  src/router/router.tsx
  src/services/api.ts
  src/styles/_base.scss
  src/utils/utils.ts
  tsconfig.app.json
Due: npm run format, npm run stylelint, npm run lint

feat: implement adding query in url
  src/components/CharacterList/CharacterList.tsx
  src/components/Search/Search.tsx
  src/contexts/dataProvider.tsx
  src/main.tsx
  src/pages/home/home.tsx
Due: npm run format, npm run lint

feat: create details section
  src/components/CharacterItem/CharacterItem.tsx
  src/components/Details/Details.module.scss
  src/components/Details/Details.tsx
  src/contexts/dataProvider.tsx
  src/main.tsx
  src/models/index.ts
  src/services/api.ts
Due: npm run format, npm run stylelint, npm run lint

feat: update details sections
  .vscode/settings.json
  src/assets/default-planet.jpg
  src/assets/starship.svg
  src/components/Details/Details.module.scss
  src/components/Details/Details.tsx
  src/components/DetailsFilms/DetailsFilms.module.scss
  src/components/DetailsFilms/DetailsFilms.tsx
  src/components/DetailsInfo/DetailsInfo.module.scss
  src/components/DetailsInfo/DetailsInfo.tsx
  src/components/DetailsPlanet/DetailsPlanet.module.scss
  src/components/DetailsPlanet/DetailsPlanet.tsx
  src/components/DetailsShip/DetailsShip.module.scss
  src/components/DetailsShip/DetailsShip.tsx
  src/contexts/dataProvider.tsx
  src/models/index.ts
  src/services/api.ts
Due: npm run format, npm run stylelint, npm run lint

fix: fix details styles and url params
  src/assets/close.svg
  src/components/CharacterItem/CharacterItem.module.scss
  src/components/CharacterItem/CharacterItem.tsx
  src/components/CharacterList/CharacterList.module.scss
  src/components/CharacterList/CharacterList.tsx
  src/components/Details/Details.module.scss
  src/components/Details/Details.tsx
  src/components/DetailsFilms/DetailsFilms.module.scss
  src/components/DetailsInfo/DetailsInfo.module.scss
  src/components/Header/Header.module.scss
  src/components/Pagination/Pagination.tsx
  src/components/Search/Search.tsx
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
  src/styles/_base.scss
  src/styles/index.scss
Due: npm run format, npm run stylelint, npm run lint

feat: add test CharacterItem
  package-lock.json
  package.json
  src/components/Details/Details.tsx
  src/components/Search/Search.tsx
  src/pages/home/home.tsx
  src/setup.ts
  src/testSetup/msw/handlers.ts
  src/testSetup/msw/mocks.ts
  src/testSetup/msw/server.ts
  src/testSetup/setupTests.ts
  src/tests/CharacterItem/CharacterItem1.test.tsx
  src/tests/CharacterItem/CharacterItem2.test.tsx
  src/tests/CharacterItem/CharacterItem3.test.tsx
  vitest.config.ts
Due: npm run format, npm run lint

fix: remove commented code
  src/tests/CharacterItem/CharacterItem2.test.tsx
  src/tests/Pagination/Pagination.test.tsx
Due: npm run format, npm run lint

fix: fix husky pre-push
  .husky/pre-push
Due: none

refactor: change styles for better UI
  src/components/CharacterItem/CharacterItem.module.scss
  src/components/CharacterItem/CharacterItem.tsx
  src/components/CharacterList/CharacterList.module.scss
  src/components/CharacterList/CharacterList.tsx
  src/components/Details/Details.module.scss
  src/components/Details/Details.tsx
  src/components/DetailsFilms/DetailsFilms.module.scss
  src/components/DetailsFilms/DetailsFilms.tsx
  src/components/DetailsPlanet/DetailsPlanet.tsx
  src/contexts/dataProvider.tsx
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
  src/pages/notFound/notFound.module.scss
  src/styles/_base.scss
  src/utils/utils.ts
Due: npm run format, npm run stylelint, npm run lint

fix: comment failing tests
  .husky/pre-push
  src/tests/CharacterItem/CharacterItem1.test.tsx
  src/tests/CharacterList/CharacterList1.est.tsx
  src/tests/CharacterList/CharacterList1.test.tsx
  src/tests/CharacterList/CharacterList2.est.tsx
  src/tests/Details/Details1.est.tsx
  src/tests/Details/Details2.est.tsx
  src/tests/Details/Details3.est.tsx
Due: npm run format, npm run lint

refactor: change code with redux toolkit and RTK query
  .vscode/settings.json
  package-lock.json
  package.json
  src/hooks/useStoreHooks.tsx
  src/main.tsx
  src/models/index.ts
  src/pages/home/home.tsx
  src/store/api/swapiApi.ts
  src/store/charactersSlice.ts
  src/store/favoritesSlice.ts
  src/store/middlewares/favoritesMiddleware.ts
  src/store/selectors/index.ts
  src/store/store.ts
Due: npm run format, npm run lint

refactor: change code with redux toolkit for Details component
  src/components/Details/Details.tsx
  src/hooks/useFilms.tsx
  src/store/api/swapiApi.ts
  src/store/charactersSlice.ts
  src/store/selectors/index.ts
  src/utils/utils.ts
Due: npm run format, npm run lint

feat: add theme provider
  .vscode/settings.json
  src/assets/light-bg.jpg
  src/assets/night.svg
  src/assets/sun.svg
  src/components/CharacterItem/CharacterItem.module.scss
  src/components/CharacterItem/CharacterItem.tsx
  src/components/CharacterList/CharacterList.module.scss
  src/components/CharacterList/CharacterList.tsx
  src/components/Details/Details.module.scss
  src/components/Details/Details.tsx
  src/components/DetailsFilms/DetailsFilms.module.scss
  src/components/DetailsInfo/DetailsInfo.module.scss
  src/components/DetailsPlanet/DetailsPlanet.module.scss
  src/components/ErrorBoundary/ErrorBoundary.module.scss
  src/components/ErrorButton/ErrorButton.module.scss
  src/components/Footer/Footer.module.scss
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/Pagination/Pagination.module.scss
  src/components/Pagination/Pagination.tsx
  src/components/Search/Search.module.scss
  src/components/Search/Search.tsx
  src/components/ThemeSwitcher/ThemeSwitcher.module.scss
  src/components/ThemeSwitcher/ThemeSwitcher.tsx
  src/contexts/dataProvider.tsx
  src/contexts/themeProvider.tsx
  src/main.tsx
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
  src/pages/notFound/notFound.module.scss
  src/services/api.ts
  src/store/api/swapiApi.ts
  src/styles/_base.scss
  src/styles/_constants.scss
  src/styles/_mixins.scss
Due: npm run format, npm run stylelint, npm run lint

refactor: divide some login into hooks
  src/components/CharacterItem/CharacterItem.tsx
  src/components/CharacterList/CharacterList.tsx
  src/components/Details/Details.tsx
  src/components/Pagination/Pagination.tsx
  src/components/Search/Search.tsx
  src/contexts/toastProvider.tsx
  src/hooks/useClickOutside.tsx
  src/hooks/useDetails.tsx
  src/hooks/useHandleDetails.tsx
  src/hooks/useLocalStorage.tsx
  src/hooks/useSearchParams.tsx
  src/main.tsx
  src/pages/home/home.module.scss
  src/pages/home/home.tsx
  src/store/charactersSlice.ts
  src/store/middlewares/errorNotifyMiddleware.ts
  src/store/middlewares/favoritesMiddleware.ts
  src/store/store.ts
  src/tests/Search/Search.test.tsx
Due: npm run format, npm run stylelint, npm run lint

fix: fix some tests
  package-lock.json
  package.json
  src/components/CharacterItem/CharacterItem.tsx
  src/components/Details/Details.tsx
  src/hooks/useDetails.tsx
  src/hooks/useFilms.tsx
  src/main.tsx
  src/router/routes.ts
  src/store/charactersSlice.ts
  src/store/favoritesSlice.ts
  src/testSetup/msw/handlers.ts
  src/testSetup/msw/mocks.ts
  src/testSetup/render-router.tsx
  src/tests/CharacterItem/CharacterItem.test.tsx
  src/tests/CharacterItem/CharacterItem1.test.tsx
  src/tests/CharacterItem/CharacterItem2.test.tsx
  src/tests/CharacterList/CharacterList.test.tsx
  src/tests/CharacterList/CharacterList1.est.tsx
  src/tests/CharacterList/CharacterList2.est.tsx
  src/tests/Details/Details.test.tsx
  src/tests/Details/Details1.est.tsx
  src/tests/Details/Details2.est.tsx
  src/tests/Details/Details3.est.tsx
  src/tests/MainLayout/MainLayout.test.tsx
  src/tests/NotFound/NotFound.test.tsx
  src/tests/Pagination/Pagination.test.tsx
  src/tests/Search/Search.test.tsx
  tsconfig.app.json
Due: npm run format, npm run lint

feat: add logic for adding to favorite
  .vscode/settings.json
  package-lock.json
  package.json
  src/assets/heart.svg
  src/components/CharacterItem/CharacterItem.module.scss
  src/components/CharacterItem/CharacterItem.tsx
  src/components/CharacterList/CharacterList.module.scss
  src/components/CharacterList/CharacterList.tsx
  src/components/Details/Details.module.scss
  src/components/Details/Details.tsx
  src/models/index.ts
  src/pages/home/home.module.scss
  src/store/api/swapiApi.ts
  src/store/favoritesSlice.ts
  src/store/selectors/index.ts
  src/store/store.ts
  src/styles/_constants.scss
  src/utils/utils.ts
  src/vite-env.d.ts
  vite.config.ts
Due: npm run format, npm run stylelint, npm run lint

feat: add flyout for favorites items
  src/components/CharacterItem/CharacterItem.module.scss
  src/components/Details/Details.module.scss
  src/components/Favorites/Favorites.module.scss
  src/components/Favorites/Favorites.tsx
  src/pages/home/home.tsx
  src/styles/_constants.scss
Due: npm run format, npm run stylelint, npm run lint

feat: add buttons Download and Clear All
  src/components/Favorites/Favorites.module.scss
  src/components/Favorites/Favorites.tsx
  src/store/favoritesSlice.ts
  src/utils/utils.ts
Due: npm run format, npm run stylelint, npm run lint

refactor: add hooks to handle favorites
  src/assets/download.svg
  src/assets/remove-all.svg
  src/components/CharacterItem/CharacterItem.module.scss
  src/components/CharacterItem/CharacterItem.tsx
  src/components/Details/Details.module.scss
  src/components/Details/Details.tsx
  src/components/DetailsInfo/DetailsInfo.tsx
  src/components/FavoriteButton/FavoriteButton.module.scss
  src/components/FavoriteButton/FavoriteButton.tsx
  src/components/Favorites/Favorites.module.scss
  src/components/Favorites/Favorites.tsx
  src/components/FavoritesList/FavoritesItem.module.scss
  src/components/FavoritesList/FavoritesItem.tsx
  src/components/Search/Search.tsx
  src/contexts/themeProvider.tsx
  src/hooks/useFavoriteButton.tsx
  src/hooks/useFavorites.tsx
  src/hooks/useHandleFlyout.tsx
  src/hooks/useSearchForm.ts
Due: npm run format, npm run stylelint, npm run lint

fix: fix bugs in tests
  .vscode/settings.json
  src/components/Details/Details.tsx
  src/components/Favorites/Favorites.tsx
  src/pages/home/home.tsx
  src/testSetup/msw/mocks.ts
  src/testSetup/render-router.tsx
  src/tests/CharacterItem/CharacterItem.test.tsx
  src/tests/CharacterList/CharacterList.test.tsx
  src/tests/Details/Details.test.tsx
  src/tests/Favorites/Favorites.test.tsx
  src/tests/MainLayout/MainLayout.test.tsx
  vitest.config.ts
Due: npm run format, npm run lint

refactor: remove unneeded useEffect
  src/hooks/useDetails.tsx
Due: npm run format, npm run lint

refactor: change some code
  .eslintrc.cjs
  package.json
  src/components/CharacterList/CharacterList.tsx
  src/components/Details/Details.tsx
  src/components/Favorites/Favorites.tsx
  src/components/FavoritesList/FavoritesItem.tsx
  src/main.tsx
  src/store/favoritesSlice.ts
  src/testSetup/render-router.tsx
  src/tests/CharacterList/CharacterList.test.tsx
  src/tests/Favorites/Favorites.test.tsx
  src/utils/utils.ts
  vite.config.ts
Due: npm run format, npm run lint

feat: add nextjs to project
  .eslintrc.js
  .gitignore
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  pages/index.tsx
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vitest.config.ts
Due: none

feat: change some files to nextjs rules
  components/MainLayout/MainLayout.tsx
  components/Pagination/Pagination.module.scss
  hooks/useDetails.tsx
  hooks/useLocalStorage.tsx
  hooks/useSearchForm.ts
  pages/_app.tsx
Due: none

fix: fix styles in nextjs
  index.d.ts
  next.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: none

fix: fix bugs with importing styles
  index.d.ts
  package.json
  tsconfig.json
Due: none

fix: fix scripts for linting
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc.json
  .stylelintignore
  .stylelintrc.json
  .vscode/settings.json
  components/DetailsPlanet/DetailsPlanet.tsx
  components/ErrorBoundary/ErrorBoundary.tsx
  components/Header/Header.tsx
  components/Loader/Loader.tsx
  components/Pagination/Pagination.tsx
  hooks/useDetails.tsx
  hooks/useHandleDetails.tsx
  hooks/useLocalStorage.tsx
  hooks/useSearchForm.ts
  index.html
  next.config.js
  package.json
  pages/_app.tsx
  pages/_document.tsx
  pages/home.tsx
  store/charactersSlice.ts
  store/favoritesSlice.ts
  styles/_constants.scss
  styles/cconstants.scss
  tsconfig.json
  utils/utils.ts
  vitest.config.ts
Due: none

feat: add working details
  hooks/useDetails.tsx
  index.html
  next.config.js
  pages/_document.tsx
  pages/home.tsx
  pages/index.tsx
  src/main.tsx
  src/pages/home/home.module.scss
  src/router/router.tsx
  src/router/routes.ts
  src/vite-env.d.ts
  styles/_base.scss
  styles/cconstants.scss
Due: npm run format, npm run stylelint, npm run lint

fix: fix theme with sass consts
  components/CharacterItem/CharacterItem.module.scss
  components/Details/Details.module.scss
  components/DetailsFilms/DetailsFilms.module.scss
  components/DetailsInfo/DetailsInfo.module.scss
  components/DetailsPlanet/DetailsPlanet.module.scss
  components/FavoriteButton/FavoriteButton.module.scss
  components/FavoriteButton/FavoriteButton.tsx
  components/Favorites/Favorites.module.scss
  components/Pagination/Pagination.module.scss
  hooks/useSearchForm.ts
  styles/_constants.scss
  styles/home.module.scss
Due: none

feat: add next-redux-wrapper and modify store
  package-lock.json
  package.json
  pages/_app.tsx
  pages/index.tsx
  store/api/swapiApi.ts
  store/store.ts
  utils/utils.ts
Due: none

feat: change some hooks to nextjs
  components/Details/Details.tsx
  hooks/useDetails.tsx
  hooks/useSearchForm.ts
  hooks/useSearchParams.tsx
  pages/_app.tsx
  pages/index.tsx
  utils/utils.ts
Due: none

feat: add loader
  .eslintignore
  .eslintrc.json
  .stylelintrc.json
  components/Details/Details.tsx
  components/FavoriteButton/FavoriteButton.module.scss
  pages/404.tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
  src/pages/notFound/notFound.tsx
  styles/loader.module.scss
  styles/notFound.module.scss
Due: npm run format, npm run lint

feat: change loader implementation
  hooks/useDetails.tsx
  hooks/useSearchParams.tsx
  pages/_app.tsx
  pages/index.tsx
  store/charactersSlice.ts
  store/filmsSlice.ts
  store/selectors/index.ts
  store/store.ts
Due: none

Path conditions:
  npm run format: any of: ./src/**/*
  npm run stylelint: any of: ./src/**/*.{css,scss}
  npm run lint: any of: ./src/**/*.{tsx,jsx,ts}
